@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  line-height: 1.75;
  letter-spacing: 0.2px;
  font-family: "Geist", serif;

}

@layer components {
  .prose a {
    @apply text-zinc-900 font-semibold hover:underline;
  }
}

.swiper-wrapper {
  @apply items-center;
}

:root {
  --radius: 8px;
}

/* Custom Pagination Dots */
.custom-pagination .swiper-pagination-bullet {
  background-color: #8BC34A; /* Light green */
  width: 12px;
  height: 12px;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #7CB342; /* Slightly darker green */
  opacity: 1;
  transform: scale(1.2);
}
